body {
  background-color: lightblue;
}
/*Header section*/
h1, h2, h3 {
  color: purple;
  font-weight: lighter;
}

h1 {
  font-size: 50px;
}

p {

}

a {
  font-weight: bold;
  text-transform: uppercase;
}

ul a {
  text-decoration: none;
}

ul {

}
